.body{
	background-color: #FAFAFA;
}

.container {
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    overflow:hidden;
    z-index:-1;
	display: inline-block;
	margin: 10px;
	padding: 0;
}

h3 {
	margin: 10px;
	padding: 0;
	text-align: center;
}

.input-group {
	margin-left: 20%;
	position: absolute;
	top: 5px;

}

.form-group {
	margin:0;
}

.glyphicon {
	font-size: 18px;
	z-index: 20;
	cursor: pointer;
}

.glyphicon-search{
	position: left;
	right: 30px;
}

.right_container{
	overflow:hidden;
    z-index:-1;
	width: 30%;
	height: 100vh;
	min-height: 500px;
	float: right; 
}

.map_container {
	min-width:200px;
	width: 70%;
	height: 100%;
	float: left; 
	background-color: #FCFCFC;
	position: relative;
	padding: 0;
	margin: 0;
}

#map {
	max-width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

.delete-menu {
        position: absolute;
        background: white;
        padding: 3px;
        color: #666;
        font-weight: bold;
        border: 1px solid #999;
        font-family: sans-serif;
        font-size: 12px;
        box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
        margin-top: -10px;
        margin-left: 10px;
        cursor: pointer;
      }
.delete-menu:hover {
background: #eee;
}

.pickup_dropoff {
	float: center;
	text-align: center;
	padding-top: 50px;
}	

.pickup_dropoff .large {
	font-size: 4em;
}	


.nav-pills {
	text-align: center;
	font-size: 2em;
	padding-top: 50px;
}